form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

section:first-of-type {
    grid-column-start: 1;
    grid-column-end: 3;
}

section {
    grid-column-start: 3;
    grid-column-end: 5;
}

section:last-of-type {
    grid-column-start: 5;
    grid-column-end: 6;
}

form div {
    margin-top: 1em;
}

.textarea {
    font-weight: bold;
    font-size: 1.5em;
}

.låt {
    font-weight: bold;
}

fieldset {
    background-color: #e2e2e2;
    width: 90%;
    border-radius: 25px;
}

legend {
    background-color: #383838;
    color: aliceblue;
    padding: 1em;
    margin-left: 2em;
    border-radius: 5px;
}

input:checked {
    width: 15px;
    height: 15px;
}