
:root{
    background-color: rgb(196, 196, 196);
}

.Logo {
    margin-left: 0%;
}
.container {
    display: grid;
    grid-template-columns: auto auto auto;
}
.item{
    background-color: dimgrey;
    padding: 0;
    text-align: center;
    font-size: 30px;

}
.item:hover {
    background-color: rgb(158, 158, 158);
}
.item:link {
    background-color: rgb(141, 141, 141);
    display: block;
}
ul {
    list-style-type: none;
    padding: 0%;
}
.globalmeny{
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-top: 100px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
main p {
    background-color: rgb(170, 170, 170);
    text-align: center;
    margin-left: 600px;
    margin-right: 600px;
    padding: 20px
}

}
.formulär {
    height: 150px;
    width: 150px;
}

footer a img{


height: 80px; 
position:relative;
}

footer h3 p{
    background-color: rgb(196, 196, 196) ; 
}