@font-face { /*Hämtar en font från google och namnger den fonten "pixel"*/
    font-family: pixel;
    src: url(VT323-Regular.ttf);
}

h1 { /*Gör så att huvudrubriken får 10px utrymme till vänster, gör så att texten är 6ex stor, gör så att texten får fonten "pixlar" och om den inte funkar så får den "Arial" osv*/
    margin-left: 10px;
    font-size: 6ex;
    font-family: pixel, Arial, Helvetica, sans-serif;
}

body { /*Gör så att det inte finns något utrymme från alla håll på body samt ändrar bakgrundsfärgen*/
    margin: 0;
    background-color: rgb(196, 196, 196);
}

.Logo { /*Gör så att min logga får 10px utrymme uppifrån och från vänster*/
    margin-left: 10px;
    margin-top: 10px;
}

.container { /*Gör en grid till den globala menyn med 3 kolumner som är lika stora, gör så att texten inte har någon dekoration som t.ex understruket, gör så att den har 0 utrymme innanför bordern*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    padding: 0;
}

header li { /*Gör så att alla items i den globala menyn får 0 utrymme innanför bordern, så att texten hamnar i mitten, och gör texten i storlek 2em*/
    padding: 0;
    text-align: center;
    font-size: 2em;
}

header nav a:link { /*Gör så att länken har en viss färg när den är normal*/
    background-color: rgb(141, 141, 141);
}

header nav a:visited { /*Gör så att länken har en viss färg när den har blivit besökt*/
    background-color: rgb(141, 141, 141);
}

header nav a:focus { /*Gör så att länken har en viss färg när man hovrar med tangentbordet över den*/
    background-color: rgb(158, 158, 158);
}

header nav a:hover { /*Gör så att länken har en viss färg när man hovrar med musen över den*/
    background-color: rgb(158, 158, 158);
}

header nav a:active { /*Gör så att länken har en viss färg när man trycker på den*/
    background-color: rgba(141, 141, 141, 0.5);
}

header li a { /*Gör så att länken har färgen svart, ingen text dekoration, gör så att den tar upp hela widthen, gör så att den har 20px utrymme innanför bordern*/
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding: 20px;
}

#nuvarandesida { /*Gör så att den sidan man är inne på för tillfället har en annan färg så att användaren vet var han/hon är*/
    background-color: rgb(158, 158, 158);    
}

main { /*Gör så att mainen är en grid med 3 kolumner som alla är lika stora förutom den längst till höger som är dubbelt så stor*/
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

main ul{ /*Gör så att den lokala menyn inte har någon dekoration, är 300px bred, har 3%utrymme ovanfrån och 3% från vänster, 0 utrymme innanför bordern*/
    list-style-type: none;
    width: 300px;
    margin-top: 3%;
    margin-left: 3%;
    padding: 0;
}

main li a{ /*Gör så att länken i den lokala menyn tar upp hela widthen, får en viss färg, en viss bakgrundsfärg, ingen dekoration, hamnar i mitten, 22px stor, 30px utrymme innanför bordern, en svart border runt, runda hörn, transform och transision så att det blir animation när man slutar hovra*/
    display: block;
    color: whitesmoke;
    background-color: rgb(23, 23, 23);
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    padding: 30px;
    border: 2px solid rgb(23, 23, 23);
    border-radius: 10px;
    transform: translateX(0);
    transition: transform 0.6s ease-out;
}

#itemlocal a{ /*Gör så att den sidan man är inne på ser annorlunda ut så att användaren vet vilken sida han/hon är inne på*/
    color: black;
    background-color: rgb(187, 189, 189);
}

main li a:hover { /*Gör så att länken ser annorlunda ut när man hovrar med musen över den, transform och transision ger lite animation*/
    color: black;
    background-color: rgb(187, 189, 189);
    transform: translateX(30px);
    transition: transform 0.6s ease-out;
}

main img { /*Gör så att bilden i main tar upp hela widthen, är 220px hög och bred, hamnar i mitten, har 20px utrymme ovanför*/
    display: block;
    max-height: 220px;
    max-width: 220px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px; 
}

main p { /*Gör så att vanliga texten i main får en viss bakgrundsfärg, hamnar i mitten, har utrymme från alla håll, är 530px bred, har 20px utrymme innanför bordern, har en svart border, runda hörn*/
    background-color: rgb(141, 141, 141);
    text-align: center;
    margin: auto;
    width: 530px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 25px;
}

table { /*Gör så att tabellen är 900px bred, hamnar i mitten, har 3% utrymme ovanför, fixar bordern så att det bara är en border mellan alla rutor, kan ta upp utrymmet kolumn 1-3*/
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border-collapse: collapse;
    grid-column-start: 1;
    grid-column-end: 4;
}

caption { /*Gör så att rubriken till tabellen har storleken 3em, har 0.5em utrymme underifrån, en viss färg med en shadow med 0 blur på alla sidor för att få det att se ut som att texten har en outline*/
    font-size: 3em;
    margin-bottom: 0.5em;
    color: rgb(41, 101, 241);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

th, td { /*Gör så att th och td är åt vänster, i miiten om man tänker uppifrån och ned, 10px utrymme underifrån, en svart border, 10px utrymme innanför bordern, 300px bred, har en viss färg*/
    text-align: left;
    vertical-align: middle;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    color: white;
}

td:first-child::after { /*Gör så att texten i första td i varje tr får ett tecken efter sig*/
    content: ":";
}

tr { /*Gör så att tr får en viss bakgrundsfärg*/
    background-color: rgb(38, 77, 228);
}

tr:nth-child(even), thead>tr, tfoot>tr  { /*Gör så att tabellen får zebra-striping(varannan rad har en annan färg) så att den är lättare att läsa*/
    background-color: rgb(41, 101, 241);
}

.boll {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(38, 77, 228);
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

footer { /*Footern får en viss bakgrundsfärg, får 10px utrymme innanför bordern, 100px utrymme uppifrån*/
    background-color: #414141;
    padding: 10px ;
    margin-top: 100px;
}

footer div{ /*Diven i footern blir 335px bred och hamnar i mitten*/
    width: 335px;
    margin-left: auto;
    margin-right: auto;
}

footer img{ /*Bilden i footer blir 80px hög*/
    height: 80px; 
}

footer h2, footer p{ /*Rubriken och texten hamnar i mitten och är vit*/
    text-align: center;
    color: white;
}