@font-face {
    font-family: pixel;
    src: url(VT323-Regular.ttf);
}

h1 {
    margin-left: 10px;
    font-size: 6ex;
    font-family: pixel, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: rgb(196, 196, 196);
}

.Logo {
    margin-left: 10px;
    margin-top: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

header li {
    padding: 0;
    text-align: center;
    font-size: 2em;
}

header nav a:link {
    background-color: rgb(141, 141, 141);
}

header nav a:visited {
    background-color: rgb(141, 141, 141);
}

header nav a:focus {
    background-color: rgb(158, 158, 158);
}

header nav a:hover {
    background-color: rgb(158, 158, 158);
}

header nav a:active {
    background-color: rgba(141, 141, 141, 0.5);
}

header ul {
    list-style-type: none;
    padding: 0%;
}

header li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding: 20px;
}

#nuvarandesida {
    background-color: rgb(158, 158, 158);    
}

main ul{
    list-style-type: none;
    width: 300px;
    margin-top: 3%;
    margin-left: 3%;
    padding: 0;
}

main li a{
    display: block;
    color: whitesmoke;
    background-color: rgb(23, 23, 23);
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    padding: 30px;
    border: 2px solid rgb(23, 23, 23);
    border-radius: 10px;
    transform: translateX(0);
    transition: transform 0.6s ease-out;
}

#itemlocal a{
    color: black;
    background-color: rgb(187, 189, 189);
}

main li a:hover {
    color: black;
    background-color: rgb(187, 189, 189);
    transform: translateX(30px);
    transition: transform 0.6s ease-out;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

main div h2 {
    text-align: center;
    font-size: 2em;
}

main div img {
    display: block;
    max-height: 220px;
    max-width: 220px;
    margin-right: auto;
    margin-left: auto;
}

main p {
    background-color: rgb(141, 141, 141);
    text-align: center;
    margin: auto;
    width: 530px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 25px;
}

main h2 {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    grid-column-start: 1;
    grid-column-end: 4;
}

.target {
    margin-left: auto;
    margin-right: auto;
    grid-column-start: 1;
    grid-column-end: 4;
}

.target div {
    display: none;
    margin-top: 10px;
}

.target div:target {
    display: block;
}

.target a {
    padding: 5px;
    color:black;
    font-weight: bold;
    text-decoration: none;
    border: 3px solid black;
    background-color: rgb(255, 110, 110);
}

iframe {
    width: 800px;
    height: 480px;
}

svg {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #414141;
    padding: 10px ;
    margin-top: 100px;
}

footer div{
    width: 335px;
    margin-left: auto;
    margin-right: auto;
}
footer img{
    height: 80px; 
}

footer h3, footer p{
    text-align: center;
    color: white;
}

@media screen and (max-width: 1150px) {
    main ul {
        width: 150px;
    }

    main ul a {
        font-size: 0.8em;
    }

    main p {
        width: 330px;
    }

    main div img {
        max-height: 150px;
        max-width: 150px;
    }

    main div h2 {
        font-size: 1.5em;
    }
}